body {
    margin: 0 auto;
    font-family: "Avenir Next";
}

.parallax {
    perspective: 1px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url("../../assets/images/cherry_sunrise3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

.navZoom {
    transition: transform .2s;
    margin: 0 auto;
}

.navZoom:hover {
    transform: scale(1.05); 
}

.redLink:hover {
    color: red !important;
}


/* start header --------------------- */
/* mobile */
.header {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 30px 30px 30px 30px;
    place-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    font-size: 18pt;
    grid-template-areas: 
        "ireneRojas"    "ireneTitle"
        "navHome"
        "navProjects"
        "navGithub"
        "navSWM";
}

#ireneRojas {
    grid-column: 1/2;
    grid-row: 1/2;
    place-items: center;
    font-size: 26pt;
    grid-area: ireneRojas;
    text-align: left;
}

#ireneTitle {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 12pt;
    grid-area: ireneTitle;
}

.navHome {
    grid-column: 1/ span 2;
    grid-row: 2/3;
    place-items: center;
    font-size: 14pt;
    grid-area: navHome;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navProjects {
    grid-column: 1/ span 2;
    grid-row: 3/4;
    place-items: center;
    font-size: 14pt;
    grid-area: navProjects;
    margin-bottom: 5px;
}

.navGithub {
    grid-column: 1/ span 2;
    /* grid-row: 1/2; */
    place-items: center;
    font-size: 14pt;
    grid-area: navGithub;
    margin-bottom: 5px;
}

.navSWM {
    grid-column: 1/ span 2;
    /* grid-row: 1 / 2; */
    justify-self: end;
    font-size: 12pt;
    text-align: left;
    grid-area: navSWM;
    margin-bottom: 5px;
}

/* desktop */
@media (min-width: 769px) {
.header {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px;
    grid-column: 1 / -1;
    align-self: center;
    background-color: white;
}

#ireneRojas {
    grid-column: 2/ span 2;
    grid-row: 1/2;
}

#ireneTitle {
    grid-column: 4/span 2;
    grid-row: 1/2;
}

.navHome {
    grid-column: 9/10;
    grid-row: 1 / 2;
}

.navProjects {
    grid-column: 10/11;
    grid-row: 1 / 2;
}

.navGithub {
    grid-column: 11/12;
    grid-row: 1/2;
}

.navSWM {
    grid-column: 12/-1;
    grid-row: 1 / 2;
    text-align: right;
}
}
/* end desktop */
/* end header ------------------ */


/* start masterContainer -------- */
/* mobile */
.masterContainer {
    display: grid;
    grid-area: masterContainer;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 20rem auto 75px 1fr;
    align-items: center;
    align-content: center;
    grid-row-gap: 0px;
    height: 100%;
    z-index: 1000;
    grid-template-areas: 
        "aboutContainer"
        "projectsIntro"
        "projectsContainer";
}

/* desktop */
@media (min-width: 769px) {
    .masterContainer {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 15rem 1fr 75px 1fr;
    }
}


/* start about ------------------*/
/* mobile */
.aboutContainer {
    /* display: grid; */
    grid-area: aboutContainer;
    background-color: white;
    color: black;
    padding: 10px;
    place-items: center;
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 5px;
    z-index: 1000;
    margin-bottom: 50px;
}

#ireneRojasPhoto {
    width: 100px;
    border-radius: 50%;
    float: left;
    margin: 2px;
    padding-top: 4px;
}

#aboutText {
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 10px;
    margin: 0px;
}

/* desktop */
@media (min-width: 769px) {
    .aboutContainer {
        display: grid;
        grid-column: 2/12;
        grid-row: 2/3;
    }
    
    #ireneRojasPhoto {
        width: 100px;
        border-radius: 50%;
    }
    
}

/* ----------------------------------------------
 * Generated by Animista on 2018-10-17 9:49:18
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 .slide-top {
	animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @keyframes slide-top {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100px);
    }
  }

/* end about --------------------*/

/* start projectsIntro --------- */
/* mobile */
.projectsIntro {
    display: grid;
    grid-area: projectsIntro;
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: white;
    color: black;
    place-items: center;
    border-radius: 5px;
    height: 50px;
}

/* desktop */
@media (min-width: 769px) {
    .projectsIntro {
        grid-column: 2/12;
        grid-row: 3/4;
    }
}
/* end projectsIntro ----------- */


/* start projectsContainer ------*/
.projectsContainer {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-row-gap: 30px;
    padding-top: 15px;
}

img {
    width: 350px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.imgCaption {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.card {
    background-color: white;
    border-radius: 5px;
    color: black;
}

.cardCaption {
    padding: 5px 10px 5px 10px;
}

/* start project samples */

/* mobile */
.matchFlag {
    grid-column: 1/-1;
    grid-row: 1/2;
}

.numberGuess {
    grid-column: 1/-1;
    grid-row: 3/4;
}

.metro {
    grid-column: 1/-1;
    grid-row: 5/6;
}

.nytreact {
    grid-column: 1/-1;
    grid-row: 7/8;
}

.pixarReact {
    grid-column: 1/-1;
    grid-row: 9/10;
}

.itunes {
    grid-column: 1/-1;
    grid-row: 11/12;
}

.futurama {
    grid-column: 1/-1;
    grid-row: 13/14;
}

.brooklyn {
    grid-column: 1/-1;
    grid-row: 15/16;
}

.wordGuess {
    grid-column: 1/-1;
    grid-row: 17/18;
}

.ezcycle {
    grid-column: 1/-1;
    grid-row: 19/20;
}

.gameOn {
    grid-column: 1/-1;
    grid-row: 21/22;
}

.grids {
    grid-column: 1/-1;
    grid-row: 23/24;
}

/* end mobile */


/* desktop */
@media (min-width: 769px) {

    .projectsContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, auto);
        place-items: center;
        grid-row-gap: 30px;
        text-align: center;
        grid-column: 1 / -1;
        grid-row: 4/5;
        align-self: center;
    }
    
    /* start project samples */ 

    .matchFlag {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .numberGuess {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .metro {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .futurama {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .pixarReact {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .weather {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .nytreact {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    
    .itunes {
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .brooklyn {
        grid-column: 3/4;
        grid-row: 5/6;
    }

    .wordGuess {
        grid-column: 1/2;
        grid-row: 7/8;
    }

    .ezcycle {
        grid-column: 2/3;
        grid-row: 7/8;
    }

    .grids {
        grid-column: 3/4;
        grid-row: 7/8;
    }

}
/* end desktop project samples */
/* end projectsContainer ------------------- */


/* webkit = Safari compatibility */
/* flip card functionality */
.flip-card {
    background-color: transparent;
    width: 350px;
    height: 233px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.2s;
    -webkit-transition: transform 1.2s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  /* Do a horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: white;
    color: black;
    border-radius: 5px;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: white;
    color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0.33px solid black;
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }

