body {
    margin: 0 auto;
    font-family: "Avenir Next";
    height: 100vh;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
    padding: 0px;
}

.navZoom {
    transition: transform .2s;
    margin: 0 auto;
}

.navZoom:hover {
    transform: scale(1.05); 
}

.redLink:hover {
    color: red !important;
    padding: 0px;
}

p {
    margin: 0px;
}

img {
    width: 350px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.imgCaption {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.card {
    background-color: white;
    border-radius: 5px;
    color: black;
}

.cardCaption {
    padding: 5px 10px 5px 10px;
}


/* mobile */
@media (max-width: 768px) {

    .parallax {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        background-image: url("../../assets/images/cherry_sunrise3.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header {
        display: grid;
        grid-template-rows: repeat(6 , auto);
        grid-template-columns: 1fr;
        background-color: white;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid gray;
        top: 0;
        position: sticky;
        z-index: 100;
    }

    .ireneNameTitle {
        /* in header */
        grid-row: 1/2;
        grid-column: 1/-1;
        /* in ireneNameTitle */
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: auto;
    }

    #ireneRojas {
        /* in ireneNameTitle */
        grid-row: 1/2;
        grid-column: 1/-1;
        font-size: 26pt;
    }

    #ireneTitle {
        /* in ireneNameTitle */
        grid-row: 2/3;
        grid-column: 1/-1;
        font-size: 12pt;
        padding: 5px;
        border-bottom: 1px solid gray;
    }

    .navDataProjects {
        /* in header */
        grid-row: 2/3;
        grid-column: 1/-1;
        font-size: 12pt;
        padding-top: 10px;
    }

    .navGameProjects {
        /* in header */
        grid-row: 3/4;
        grid-column: 1/-1;
        font-size: 12pt;
    }

    .navGithub {
        grid-row: 4/5;
        grid-column: 1/-1;
        font-size: 12pt;
        padding-top: 5px;
    }

    .navSWM {
        grid-row: 5/6;
        grid-column: 1/-1;
        font-size: 12pt;
        padding-top: 5px;
    }

    
    .masterContainer {
        display: grid;
        grid-template-columns: 10px 1fr 10px;
        grid-template-rows: repeat(2, auto) 1fr;
        height: 100%;
        text-align: center;
    }

    .aboutContainer {
        /* in master */
        grid-row: 1/2;
        grid-column: 2/3;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        margin-top: 11rem;
    }
    
    #ireneRojasPhoto {
        width: 100px;
        border-radius: 50%;
        float: left;
        margin: 2px;
    }
    
    #aboutText {
        padding: 10px 0px 15px 0px;
    }

    .projectsIntro {
        /* in master */
        grid-row: 2/3;
        grid-column: 2/3;
        background-color: white;
        border-radius: 5px;
        text-align: center;
        padding: 10px;
        margin-top: 150px;
    }

    .projectsContainer {
        /* in master */
        grid-row: 3/-1;
        grid-column: 2/3;
        /* in projects */
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        justify-self: center;
        grid-row-gap: 30px;
        padding-top: 15px;
    }    

    .matchFlag {
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    
    .numberGuess {
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    
    .metro {
        grid-column: 1/-1;
        grid-row: 5/6;
    }
    
    .futurama {
        grid-column: 1/-1;
        grid-row: 7/8;
    }
    
    .pixarReact {
        grid-column: 1/-1;
        grid-row: 9/10;
    }
    
    .weather {
        grid-column: 1/-1;
        grid-row: 11/12;
    }
    
    .nytreact {
        grid-column: 1/-1;
        grid-row: 13/14;
    }
    
    .itunes {
        grid-column: 1/-1;
        grid-row: 15/16;
    }
    
    .brooklyn {
        grid-column: 1/-1;
        grid-row: 17/18;
    }
    
    .wordGuess {
        grid-column: 1/-1;
        grid-row: 19/20;
    }
    
    .ezcycle {
        grid-column: 1/-1;
        grid-row: 21/22;
    }
    
    .grids {
        grid-column: 1/-1;
        grid-row: 23/24;
    }
    
}
/* end mobile */










/* desktop */
@media (min-width: 769px) {

    .parallax {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        background-image: url("../../assets/images/cherry_sunrise3.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header {
        display: grid;
        grid-template-rows: 80px;
        grid-template-columns: repeat(12, 1fr);
        background-color: white;
        border-bottom: 1px solid gray;
        top: 0;
        position: sticky;
        z-index: 100;
    }

    .ireneNameTitle {
        /* in header */
        grid-row: 1/2;
        grid-column: 2/span 3;
        /* inside ireneNameTitle */
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: auto;
        align-self: center;
    }

    #ireneRojas {
        /* inside ireneNameTitle */
        grid-row: 1/2;
        grid-column: 1/-1;
        font-size: 24pt;
    }

    #ireneTitle {
        /* inside ireneNameTitle */
        grid-row: 2/3;
        grid-column: 1/-1;
        padding-bottom: 5px;
    }

    .navDataProjects {
        grid-column: 8/9;
        grid-row: 1/2;
        align-self: center;
    }

    .navGameProjects {
        grid-row: 1/2;
        grid-column: 9/10;
        align-self: center;
    }

    .navGithub {
        grid-column: 10/11;
        grid-row: 1/2;
        align-self: center;
    }

    .navSWM {
        grid-column: 11/12;
        grid-row: 1/2;
        text-align: right;
        align-self: center;
    }


    .masterContainer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 32rem auto 50px auto auto 50px auto auto 1fr;
        /* rem = empty space */
        /* auto1 =  aboutContainer*/
        /* 50px = dataAnchor */
        /* auto2 = dataIntro */
        /* auto3 =  dataProjects*/
        /* 50px = gameAnchor */
        /* auto4 =  gameIntro*/
        /* auto5 = gameProjects */
        /* 1fr = bottom */
        height: 100%;
    }

    .aboutContainer {
        /* in masterContainer */
        grid-column: 2/12;
        grid-row: 2/3;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
    }
    
    #ireneRojasPhoto {
        width: 100px;
        border-radius: 50%;
        float: left;
        padding: 0px 5px 5px 0px;
    }

    #downloadResume {
        padding-left: 10px;
    }

    #dataAnchor {
        /* in masterContainer */
        grid-row: 3/4;
        grid-column: 1/-1;
    }

    .dataIntro {
        /* in masterContainer */
        grid-row: 4/5;
        grid-column: 4/10;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        align-self: center;
        margin-top: 50px;
    }

    .dataProjects {
        /* in masterContainer */
        grid-row: 5/6;
        grid-column: 1/-1;
        /* in projectsContainer */
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        grid-row-gap: 30px;
        text-align: center;
        align-self: center;
        margin: 25px 0px 25px 0px;
    }

    .nytreact {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .metro {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .weather {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .itunes {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .wordGuess {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .emergencyRooms {
        grid-row: 3/4;
        grid-column: 3/4;
    }

    .ezcycle {
        grid-row: 5/6;
        grid-column: 1/2;
    }

    #gameAnchor {
        /* in masterContainer */
        grid-row: 6/7;
        grid-column: 1/-1;
    }

    .gameIntro {
        /* in masterContainer */
        grid-row: 7/8;
        grid-column: 4/10;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        align-self: center;
        margin-top: 25px;
    }

    .gameProjects {
        /* in masterContainer */
        grid-row: 8/9;
        grid-column: 1/-1;
        /* in projectsContainer */
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        grid-row-gap: 30px;
        text-align: center;
        align-self: center;
        margin: 25px 0px 25px 0px;
    }

    .matchFlag {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .numberGuess {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .futurama {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .pixarReact {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .brooklyn {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .grids {
        grid-row: 3/4;
        grid-column: 3/4;
    }

}
/* end desktop */







/* webkit = Safari compatibility */
/* flip card functionality */
.flip-card {
    background-color: transparent;
    width: 350px;
    height: 233px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.2s;
    -webkit-transition: transform 1.2s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  /* Do a horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: white;
    color: black;
    border-radius: 5px;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: white;
    color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0.33px solid black;
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }

